.hex-cell {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-color: #e0c080;
    border: 1px solid #a88650;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* 벌집 형태 흉내내기(간단) */
    clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
  }
  
.stone {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.stone-black {
    background-color: black;
  }
  
.stone-white {
    background-color: white;
  }
  
.coord-label {
    font-size: 10px;
    color: red;
  }
  